.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: inset 0 0 80px $black;
    background-color: $grey;

    &-image, &-infos {
        width: 35%;

        @media #{$breakpoint-x-large} {
            width: 30%;
        }
    }
    
    &-image {
        height: 100%;

        img {
            height: 100%;
            opacity: 0.9;
        }
    }

    &-infos {

        h1 {
            margin: 1em 0 0 0;
            text-transform: uppercase;
            font-family: 'RalewayBlack';

            @media #{$breakpoint-small} {
                font-size: 20px;
            }

            @media #{$breakpoint-x-small} {
                font-size: 11px;
            }

            @media #{$breakpoint-xx-small} {
                font-size: 6px;
            }

            @media #{$breakpoint-medium} {
                font-size: 24px;
            }
        }

        p {
            font-size: 24px;
            margin: 0.5em;

            @media #{$breakpoint-small}, #{$breakpoint-medium} {
                font-size: 18px;
            }

            @media #{$breakpoint-x-small} {
                font-size: 11px;
            }

            @media #{$breakpoint-xx-small} {
                font-size: 6px;
            }
        }

        &__contact {
            display: flex;
            justify-content: space-evenly;
            height: 35px;
            width: 25%;
            margin: 1em auto;

            @media #{$breakpoint-small} {
                height: 25px;
                width: 30%;
            }

            @media #{$breakpoint-x-small} {
                height: 20px;
                width: 50%;
            }

            @media #{$breakpoint-xx-small} {
                margin: auto;
                height: 10px;
            }

            @media #{$breakpoint-medium} {
                height: 30px;
                width: 35%;
            }
            
            img {
                height: 100%;
            }
        }
    }
}

.scroll-down {
    background-color: $white;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$breakpoint-xx-small} {
        padding-bottom: 1em;
    }

    svg {
        font-size: 50px;
        color: $color-primary;
        margin: -15px;
        animation: arrow 2500ms infinite;
        cursor: pointer;

        @media #{$breakpoint-xx-small} {
            font-size: 30px;
        }
    }
}