.career {
    background-color: $grey;
    padding: 5em 15em;

    @media #{$breakpoint-small} {
        padding: 5em 8em;
    }

    @media #{$breakpoint-x-small} {
        padding: 5em 3em;
    }

    @media #{$breakpoint-large}, #{$breakpoint-medium} {
        padding: 5em 10em;
    }
    
    @media #{$breakpoint-x-large} {
        padding: 5em 20em;
    }

    @media #{$breakpoint-xx-large} {
        padding: 5em 25em;
    }

    h2 {
        width: 50%;
    }
}

.qualifications {
    display: flex;
    margin: 5em 0;
    justify-content: space-between;

    @media #{$breakpoint-x-small} {
        margin: 1em 0;
    }

    @media #{$breakpoint-small}, #{$breakpoint-medium} {
        flex-direction: column;
    }

    & > div {
        display: flex;
        justify-content: space-around;
        width: 50%;

        @media #{$breakpoint-x-small} {
            flex-direction: column;
        }

        @media #{$breakpoint-small}, #{$breakpoint-medium} {
            width: 100%;
        }

        p {
            text-align: start;
        }
    }
}

.qualification {
    &-1, &-2, &-3, &-4 {
        width: 50%;
        padding: 1em;

        @media #{$breakpoint-x-small} {
            width: 100%;
        }
    }

    &-date {
        font-family: 'RalewayBlack';
        position: relative;
        padding-inline-start: 2em;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: $color-secondary;
        }
    }
}

#developper {
    span {
        background-color: rgba(238, 200, 67, 0.8);
    }
}