.contact {
    padding: 1em 15em 4em;
    background-color: $color-primary;

    @media #{$breakpoint-small} {
        padding: 1em 8em 4em;
    }

    @media #{$breakpoint-x-small} {
        padding: 1em 3em 4em;
    }

    @media #{$breakpoint-large}, #{$breakpoint-medium} {
        padding: 1em 10em 4em;
    }
    
    @media #{$breakpoint-x-large} {
        padding: 1em 20em 4em;
    }

    @media #{$breakpoint-xx-large} {
        padding: 1em 25em 4em;
    }

    h2 {
        width: 50%;
        color: $grey;
    }

    &-links {
        margin-top: 4em;
        display: flex;
        justify-content: space-around;

        @media #{$breakpoint-small}, #{$breakpoint-medium} {
            flex-direction: column;
            margin-top: 3em;
        }

        @media #{$breakpoint-large} {
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        & > div {
            text-align: start;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 1em 1.5em;
            outline: solid 3px $grey;
            color: $grey;
            position: relative;
            margin: 0 1em;

            @media #{$breakpoint-small}, #{$breakpoint-medium} {
                width: 100%;
                justify-content: center;
                margin: 1em 0;
            }

            @media #{$breakpoint-large} {
                margin: 1em;
            }
        }

        a {
            text-decoration: none;
            color: $grey;
        }

        img {
            height: 2em;
            margin-right: 1em;
        }

        svg {
            height: 2em;
            width: 2em;
            margin-right: 1em;
            padding-inline-start: 0.2em;
        }
    }
}

.contact-1, .contact-2, .contact-3 {
    &:hover {
        background-color: rgba(238, 236, 188, 0.3);
    }
}

.square {
    ::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: -10px;
        height: 20px;
        width: 20px;
        background-color: $color-secondary;
        animation: square 1s 100ms ease-in-out;
    }
}

.scrollToTop {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$breakpoint-small}, #{$breakpoint-medium} {
        padding-bottom: 5em;
    }

    button {
        padding: 1em;
        background-color: rgba(238, 236, 188, 0.5);
        border: none;
    }

    svg {
        font-size: 50px;
        color: $color-primary;
        margin: -15px;
        cursor: pointer;
    }
}