.achievements {
    background-color: $color-primary;
    padding: 5em 14em;

    @media #{$breakpoint-small} {
        padding: 5em 7em;
    }

    @media #{$breakpoint-x-small} {
        padding: 5em 3em;
    }

    @media #{$breakpoint-xx-small} {
        padding: 5em 1em;
    }

    @media #{$breakpoint-large}, #{$breakpoint-medium} {
        padding: 5em 9em;
    }
    
    @media #{$breakpoint-x-large} {
        padding: 5em 19em;
    }

    @media #{$breakpoint-xx-large} {
        padding: 5em 24em;
    }

    h2 {
        color: $grey;
        text-transform: uppercase;
        width: 50%;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 0;

    @media #{$breakpoint-small} {
        flex-direction: column;
        justify-content: center;
    }

    & > div {
        width: 33%;
        padding: 1em;
        position: relative;
        
        @media #{$breakpoint-small} {
            width: 100%;
        }

        @media #{$breakpoint-medium} {
            width: 50%;
        }

        @media #{$breakpoint-x-large} {
            width: 49%;
        }

        @media #{$breakpoint-xx-large} {
            width: 33%;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hover-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(238, 236, 188, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 350ms ease-in-out;

    button {
        font-family: 'RalewayBold';
        color: $color-primary;
        background-color: $color-secondary;
        padding: 0.8em 1em;
        border-style: none;
        border-radius: 5px;
        margin: 0.5em;
        transform: scale(0.7);
        transition: transform 350ms ease-in-out;
        cursor: pointer;

        svg {
            margin-left: 0.5em;
            margin-top: 0.1em;
        }
    }

    .github-project {
        color: $grey;
        background-color: $color-primary;
    }
}

.hover-project--visible {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(238, 236, 188, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: visible-project 350ms ease-in;

    button {
        font-family: 'RalewayBold';
        color: $color-primary;
        background-color: $color-secondary;
        padding: 0.8em 1em;
        border-style: none;
        border-radius: 5px;
        margin: 0.5em;
        animation: visible-button 350ms ease-in;
        cursor: pointer;

        svg {
            margin-left: 0.5em;
            margin-top: 0.1em;
        }
    }

    .github-project {
        color: $grey;
        background-color: $color-primary;
    }
}

.project {
    &-image {
        height: 250px;
        position: relative;

        @media #{$breakpoint-x-small}, #{$breakpoint-small} {
            margin-top: 1em;
        }

        @media #{$breakpoint-small} {
            height: 300px;
        }

        @media #{$breakpoint-x-small} {
            height: 250px;
        }

        @media #{$breakpoint-xx-small} {
            height: 150px;
        }

        @media #{$breakpoint-medium} {
            height: 230px;
        }

        @media #{$breakpoint-x-large} {
            height: 350px;
        }

        @media #{$breakpoint-xx-large} {
            height: 400px;
        }

        &:hover {
            .hover-project {
                opacity: 1;
                cursor: pointer;

                button {
                    transform: scale(1);
                }
            }
        }
    }

    &-description {
        background-color: rgba(238, 236, 188, 0.5);
        padding: 0.5em;
        height: 85px;

        @media #{$breakpoint-x-small}, #{$breakpoint-small} {
            height: fit-content;
        }

        span {
            font-family: 'RalewayBold';
        }

        & > p {
            font-size: 16px;
        }

        p {
            margin: 0.5em;
            font-size: 14px;

            @media #{$breakpoint-xx-small} {
                font-size: 12px;
            }
        }

        button {
            visibility: hidden;

            @media #{$breakpoint-x-small}, #{$breakpoint-small} {
                visibility: visible;
                padding: 0.3em 0.4em 0.2em;
                margin: 0.5em;
                border: solid 3px $color-primary;
                color: $color-primary;
                background-color: transparent;
            }
        }
    }
}