* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    margin: 0;
}

h2 {
    text-transform: uppercase;
    color: $color-primary;
    margin: 0;

    @media #{$breakpoint-xx-small} {
        font-size: 14px;
    }
}

h3 {
    font-family: 'RalewayBold';
    color: $black;
    text-transform: uppercase;

    @media #{$breakpoint-small}, #{$breakpoint-medium} {
        text-align: start;
    }

    @media #{$breakpoint-xx-small} {
        font-size: 12px;
    }
}

li {
    list-style: none;
}

p {
    @media #{$breakpoint-xx-small} {
        font-size: 10px;
    }
}