@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../../assets/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RalewayBlack';
    src: url('../../assets/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}